<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>HipClip</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,100' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="list">
      <div v-for="item in items" v-on:click="copy($index)" class="list-item {{ item.format }}">
        <span class="item-timestamp"><i class="fa fa-clock-o"></i>7 minutes ago</span>
        <h1 v-if="item.format == 'text'">{{ item.data }}</h1>
        <div v-if="item.format == 'image'"
          class="item-image"
          style="background-image: url({{ item.data }});">
        <div v-if="item.format == 'image'" class="item-image-cover"></div>
      </div>
    </div>

    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/vue/dist/vue.min.js"></script>

    <script src="app.js"></script>
  </body>
</html>
